body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.project {
  margin: 20px 0;
}

a {
  color: #38bdf8;
  margin: 0 10px;
}